<head>
    <style>
        .tabs{
            background-color: rgb(166, 166, 245);
            font-size: 32px;
            flex: auto;
            flex-direction: row;
        }
    </style>
</head>

{% extends "base.html" %}

{% block content %}
<h2>Home Page</h2>
<div class="tabs">
    <!--? JUZ -->
    {% for i in range(1, 31) %}
        <a href="/juz/{{i}}">Juz {{i}}</a><br>
    {% endfor %}

    <!--? SURAH -->
    {% for i in range(1, 115) %}
        <a href="/surah/{{i}}">Surah {{i}}</a><br>
    {% endfor %}

    <!--? PAGE -->
    {% for i in range(1, 612) %}
        <a href="/page/{{i}}">Page {{i}}</a><br>
    {% endfor %}

    <!--? HIZB -->
    {% for i in range(1, 62) %}
        <a href="/hizb/{{i}}">Hizb {{i}}</a><br>
    {% endfor %}
</div>

{%endblock %}